@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Joti+One);
* {
  font-family: Inconsolata;
}
body {
        background: #000;
        color: #fff;
        font-size: 100%;
      }
  .central-text-div{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 200px;
  }

  .central-text-py{
    font-family: "Joti One";
    font-size: 6em;
    font-weight: bold;
    color: #3773A5;
    text-shadow: 0 0 10px #3773A5;
  }

  .central-text-bbs{
    font-family: "Joti One";
    font-size: 6em;
    font-weight: bold;
    color: #FFD141;
    text-shadow: 0 0 10px #FFD141;
  }

  @media only screen and (max-height: 600px) {
    .central-text-div{
      margin-top: 100px;
      margin-bottom: 150px;
    }  
  }
  @media only screen and (max-height: 400px) {
    .central-text-div{
      margin-top: 70px;
      margin-bottom: 100px;
    }  
  }

  #home-links-div {
    padding-top: 30px;
  }

  #description{
    font-family: "Joti One";
    padding: 20px 20px;
  }

  #mailing-list-button{
    margin: 20px;
  }

  .home-link {
    font-size: 1.6em;
    font-weight: bold;
    color: #FFD141;
    padding: 0 20;
    text-decoration: underline;
  }
  @media only screen and (max-width: 400px) {
    body { font-size:60%;}
    .home-link{
      padding: 0 10px;
    }
  }